@page "/chunks/{chunkId:int}"

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>Chunk @ChunkId</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="chunk-content my-2 p-3">
                    @ChunkContentWithEmbeddedText
                </div>
                <p class="disclaimer-text px-1">
                    The <b>bold text</b> is what the embedding is calculated on.  The rest of the text is provided to help add context.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>From:</strong> <a href="/documents/@Document.Id">@Document.Title</a>
            </div>
        </div>
    </div>
</div>