@page "/about"
@inject HttpClient HttpClient
@inject IConfiguration Configuration

<PageTitle>Industry 4.0 - About</PageTitle>

<h1>About</h1>
<p>This is a platform for exploring Industry 4.0 concepts.</p>

<p>
    <em>"@Quote"</em>
</p>

@code
{
    private string Quote { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Quote = await HttpClient.GetStringAsync("quotes/random");
    }
}