@page "/about"

<PageTitle>Industry 4.0</PageTitle>

<h1>About</h1>
<p>This is a platform for exploring Industry 4.0 concepts.</p>

<div class="card" style="width: 30rem;">
    <img src="/images/home.webp" class="card-img-top" alt="Dreaming">
    <div class="card-body">
        <p class="card-text">
            <em>"@Quote"</em>
        </p>
    </div>
</div>

<p class="m-2">
    <img class="social-icon" src="/images/github-mark.png" />
    <a href="https://github.com/hiptopjones/" target="_blank">
        <span class="px-2">hiptopjones</span>
    </a>
</p>
