@page "/about"

<PageTitle>Industry 4.0</PageTitle>

<h1>About</h1>
<p>This is a platform for exploring Industry 4.0 concepts.</p>

<p>
    <em>"@Quote"</em>
</p>

<div class="text-center">
    <img class="rounded img-fluid" src="/home.webp">
</div> 