@page "/"

<PageTitle>Industry 4.0</PageTitle>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Expert Insights</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A unique opportunity to ask leading professionals your questions on Industry 4.0 and Digital Transformation!  Dive into the conversation now to transform uncertainty and paralysis into clarity and action.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/chat" class="btn btn-primary btn-lg px-4 me-sm-3">Get Started!</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="/images/digital.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Digital image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>