@if (Chunks == null)
{
	<span>
		Loading documents...
	</span>
}
else if (Chunks.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Content</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var chunk in Chunks)
			{
				<tr>
					<td class="align-middle">
						<a href="/chunks/@chunk.Id">@chunk.Id</a>
					</td>
					<td class="align-middle">
						@chunk.Content
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span>
		No documents
	</span>
}
