.user-message {
    background-color: #ffffff;
}

.assistant-message {
    background-color: #fcfcfc;
}

.error-message {
    background-color: #fcfcfc;
}

.chat-icon {
    width: 40px;
}

.message-text {
    white-space: pre-wrap;
}

.disclaimer-text {
    font-size: 0.8rem;
    font-style: italic;
    color: darkgray
}